/* GENERAL */
p, span, label { margin-bottom: 5px; }
body{
	max-width: 100%;
	background-color: #606060;
}

/* General title separators */

.main-container {
	/*padding-bottom: 80px;*/
	max-width: 100%;
	overflow: hidden;
	background: #fff;
}

.ws-general-title {
	padding: 32px;
	text-align: center;
	color: #9013FE;
	font-size: 1.3rem;
	font-weight: 500;
}

/* PORTFOLIO SECTION */

/* Header */

.ws-portfolio-header {
	position: relative;
}

.ws-portfolio-header img {
	max-width: 99%;
	object-fit: cover;
	height: 100%;
	overflow: hidden;
}

/* Profile */

/*.ws-portfolio-profile {
	width: 50%;
	margin: 0 auto;
	position: relative;
	top: -90px;
	z-index: 1;
	height: 70px;
}

.ws-portfolio-profile div {
	width: 145px;
	margin: 0 auto;
	border-radius: 100%;
	height: 145px;
}

.ws-portfolio-profile div img {
	object-fit: contain;
	height: 145px;
	border-radius: 100%;
}*/

/* Info site */

/*.ws-portfolio-infosite-title {
	color: #9013FE;
	text-align: center;
	font-size: 1.5rem;
}*/

/*.ws-portfolio-infosite-description {
	white-space: pre-line;
	text-align: center;
	line-height: 26px;
	margin-top: -20px;
	font-size: 1.3rem;
	color: #999;
}*/

/* Button visit site */

/*.ws-portfolio-infosite-btn {
	text-align: center;
	margin-top: 20px;
}*/

/*.ws-portfolio-infosite-btn button {
	border: 0;
	background: #9013FE;
	text-align: center;
	padding: 12px;
	color: #fff;
	width: 80%;
	border-radius: 20px;
	font-size: 1.3rem;
	line-height: 18px;
	font-weight: 200;
}*/

/* Gallery videos and info promotional */

.ws-portfolio-promo {
	background-color: #9013FE;
	background-image: linear-gradient(#9013FE, #6e267d);
	padding: 35px 5px;
	padding-bottom: 15px;
	margin-top: 15px;
}

.ws-portfolio-promo .container {
	width: 75%;
}

.ws-portfolio-promo p {
	color: #fff;
	text-align: justify;
	font-size: 1rem;
	letter-spacing: -0.5px;
}

.ws-portfolio-promo-video {
	background: #333;
	height: 300px;
	margin: 20px 10px;
	margin-bottom: 5px;
	position: relative;
}

.ws-portfolio-promo-background {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.ws-portfolio-promo-preview {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.4);
}

.ws-portfolio-promo-preview img {
	height: 100px;
	max-width: 99px;
	text-align: center;
	margin: 0 44%;
	float: none;
	margin-top: calc(250px / 3.5);
	transition: transform .2s;
	-webkit-transition: transform .2s;
	-moz-transition: transform .2s;
}

.ws-portfolio-promo-preview img:hover {
	transform: scale(1.3);
	cursor: pointer;
}


.ws-portfolio-carousel {
	background: #333;
	height: 250px;
	margin: 20px 10px;
	margin-bottom: 5px;
}

/* Google Maps API Ubication site */

.ws-portfolio-ubication-leyend {
	background-color: #9013FE;
	padding: 10px;
}

.ws-portfolio-ubication-info {
	color: #fff;
	white-space: pre-line;
}

.ws-portfolio-ubication-btn {
	color: #9013fe;
	background: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 20px;
	font-weight: 100;
	font-size: .8rem;
	bottom: 0;
	width: 80%;
	margin: 0 auto;
	margin-top: 45px;
	float: none;
}


/* ABOUT US */

.ws-about {
	padding: 30px 0px;
}

.ws-about-carousel {

}

/* TESTIMONIALS */

.ws-testimonial-img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 100%;
	border: 2px solid #fff;
	/*margin-left: 40px;*/
	margin-left: 70px;
}

.ws-testimonial-arrow {
	width: 20px;
	height: 70px;
}

.ws-testimonial-text {
	width: 80%;
	text-align: right;
	justify-content: flex-end;
}

.ws-testimonial-name {
	width: 80%;
	font-size: .8rem;
	color: #9013FE;
	text-align: right;
}


.ws-idea img {
	width: 100%;
	/*height: 60px;*/
	object-fit: contain;
}

.ws-contact {

}

.ws-contact .col-12 {
	text-align: center;
}

.ws-contact input {
	border: 2px solid #9013FE;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 10px;
	width: 50%;
	text-transform: uppercase;
	font-size: .8rem;
}

.ws-contact textarea {
	border: 2px solid #9013FE;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 10px;
	width: 50%;
	height: 125px;
	resize: none;
	text-transform: uppercase;
	font-size: .8rem;
}

.ws-social {
	width: 60%;
	margin: 0 auto;
	float: none;
	margin-top: 20px;
}

.ws-social-v2 {
	width: 100%;
	margin: 0 auto;
	float: none;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
}

.ws-social .col {
	width: 25%;
}

.ws-social img {
	width: 50px;
	height: 50px;
	cursor: pointer;
}